In [1]:
import copy
import numpy as np
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Bidirectional
from keras.layers import RepeatVector
from keras.layers import TimeDistributed
from numpy import hstack
from sklearn.preprocessing import StandardScaler
import datetime
import time
import joblib
from datetime import timedelta, date
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from numpy import array
import os
import seaborn as sns; sns.set_theme() 
import errno

In [2]:
url = "https://raw.githubusercontent.com/rohitash-chandra/CMTL_dynamictimeseries/master/IndianOcean/rawtrain1985-2001.txt"
df = pd.read_csv(url, sep = "\t", header = None)
df.columns = ['id','date','longitude','latitude','speed']
df = df.drop(['date'], axis = 1)
df.to_csv('adjusted.csv')
df

      id  longitude  latitude  speed
0      1        7.7      80.9     20
1      1        8.1      79.9     20
2      1        8.5      78.8     25
3      1        8.8      77.7     25
4      1        9.0      76.6     30
...   ..        ...       ...    ...
9360  21       25.9      38.9     35
9361  21       25.9      40.2     35
9362  21       25.5      41.0     35
9363  21       25.1      41.7     30
9364  21       24.6      41.9     25

[9365 rows x 4 columns]

In [3]:
#making starting point of every cyclone same, spatial bias removed
id = 1
x0 = df['longitude'][0]
y0 = df['latitude'][0]
df['longitude'][0] = 0
df['latitude'][0] = 0
for i in range(1, df.shape[0]):
  if df['id'][i] == id :
    df['longitude'][i] = df['longitude'][i] - x0
    df['latitude'][i] = df['latitude'][i] - y0
  else:
    x0 = df['longitude'][i]
    y0 = df['latitude'][i]
    df['longitude'][i] = 0
    df['latitude'][i] = 0
    id = df['id'][i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [4]:
longi = array(df['longitude'])
lat = array(df['latitude'])
speed = array(df['speed'])
#univariate, so only working with speed
speed = speed.reshape((len(speed), 1))
speed.shape, speed

((9365, 1), array([[20],
        [20],
        [25],
        ...,
        [35],
        [30],
        [25]]))

In [5]:
sc = StandardScaler()
speed_scaled = sc.fit_transform(speed)
speed_scaled

array([[-0.98138094],
       [-0.98138094],
       [-0.78866885],
       ...,
       [-0.40324466],
       [-0.59595675],
       [-0.78866885]])

In [6]:
#for univariate
def split_sequence(sequence, n_steps_in, n_steps_out):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps_in
		out_end_ix = end_ix + n_steps_out
		# check if we are beyond the sequence
		if out_end_ix > len(sequence):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix:out_end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return np.array(X), np.array(y)
 
def rmse(pred, actual):
	return np.sqrt(((pred - actual) ** 2).mean())

In [11]:
univariate = True # if false, its multivariate case
n_steps_in = 3
n_steps_out = 1
n_features = 1 # for univariate
Hidden = 10
Epochs = 50
Num_Exp = 2

In [12]:
if univariate is True:  
  train = speed_scaled[0:8628]
  test = speed_scaled[8629:9364]
  x_train, y_train = split_sequence(train, n_steps_in, n_steps_out)
  x_test, y_test = split_sequence(test, n_steps_in, n_steps_out)
  x_train = x_train.reshape((x_train.shape[0], x_train.shape[1], n_features))
  print(x_train.shape)
  x_test = x_test.reshape((x_test.shape[0], x_test.shape[1], n_features))
  print(x_test.shape)
  y_train = y_train.reshape((y_train.shape[0],1))
  print(y_train.shape)
  y_test = y_test.reshape((y_test.shape[0],1))
  print(y_test.shape)

#yet to be done
#else:

(8625, 3, 1)
(732, 3, 1)
(8625, 1)
(732, 1)

In [20]:
model = Sequential()

def MODEL_LSTM(univariate, x_train, x_test, y_train, y_test, Num_Exp, n_steps_in, n_steps_out, Epochs, Hidden):

	train_acc = np.zeros(Num_Exp)
	test_acc = np.zeros(Num_Exp)
 
	model.add(LSTM(Hidden, activation='relu', input_shape=(n_steps_in, n_features), dropout=0.2))
	# model.add(Dense(Hidden)) (No particular need of this)
	model.add(Dense(n_steps_out))
	model.compile(optimizer='adam', loss='mse')
	model.summary()

	y_predicttest_allruns = np.zeros([Num_Exp, x_test.shape[0], x_test.shape[1]])

	print(y_predicttest_allruns.shape, ' shape ')


	Best_RMSE = 1000  # Assigning a large number

	start_time = time.time()
	for run in range(Num_Exp):
		print("Experiment", run + 1, "in progress")
		# fit model
		model.fit(x_train, y_train, epochs=Epochs, batch_size=10, verbose=0, shuffle=False)
		y_predicttrain = model.predict(x_train)
		y_predicttest = model.predict(x_test)
		y_predicttest_allruns[run,:,:] = y_predicttest
		train_acc[run] = rmse(y_predicttrain, y_train)
		print(train_acc[run], 'train accuracy')
		test_acc[run] = rmse(y_predicttest, y_test)
		if test_acc[run] < Best_RMSE:
			Best_RMSE = test_acc[run]
			Best_Predict_Test = y_predicttest

	print("Total time for", Num_Exp, "experiments", time.time() - start_time)
	return train_acc, test_acc, Best_Predict_Test, y_predicttrain, y_predicttest, y_predicttest_allruns

In [21]:
train_acc, test_acc,Best_Predict_Test, y_predicttrain, y_predicttest, y_predicttest_allruns = MODEL_LSTM(univariate,x_train,x_test,y_train,y_test,Num_Exp,n_steps_in,n_steps_out,Epochs, Hidden)

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 10)                480
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 491
Trainable params: 491
Non-trainable params: 0
_________________________________________________________________
(2, 732, 3)  shape
Experiment 1 in progress
0.28453214538293453 train accuracy
Experiment 2 in progress
0.2648173279733441 train accuracy
Total time for 2 experiments 146.60415649414062

In [22]:
print(train_acc, test_acc) 
mean_train = np.mean(train_acc, axis=0)
mean_test = np.mean(test_acc, axis=0)
print(mean_train, 'mean rmse train') 
print(mean_test, 'mean rmse test')

[0.28453215 0.26481733] [0.33430644 0.30586791]
0.27467473667813935 mean rmse train
0.32008717717914387 mean rmse test

In [34]:
# test on unseen data
url_test = "https://raw.githubusercontent.com/rohitash-chandra/CMTL_dynamictimeseries/master/IndianOcean/rawtest2006-2013.txt"
df_test = pd.read_csv(url, sep = "\t", header = None)
df_test.columns = ['id','date','longitude','latitude','speed']
df_test = df_test.drop(['date'], axis = 1)
df_test.to_csv('adjusted_test.csv')
df_test

      id  longitude  latitude  speed
0      1        7.7      80.9     20
1      1        8.1      79.9     20
2      1        8.5      78.8     25
3      1        8.8      77.7     25
4      1        9.0      76.6     30
...   ..        ...       ...    ...
9360  21       25.9      38.9     35
9361  21       25.9      40.2     35
9362  21       25.5      41.0     35
9363  21       25.1      41.7     30
9364  21       24.6      41.9     25

[9365 rows x 4 columns]

In [35]:
actual = array(df_test['speed'])
actual = actual.reshape((len(actual), 1))
actual_scaled = sc.fit_transform(actual)
X_TEST, Y_TEST = split_sequence(actual_scaled, n_steps_in, n_steps_out)
Y_TEST = Y_TEST.reshape(Y_TEST.shape[0],1)
predictions = model.predict(X_TEST)
rmse_score = rmse(predictions, Y_TEST)
print('rmse score on raw test data', rmse_score)

rmse score on raw test data 0.26825090771453025